public_html/ud4/01.dtd

<!ELEMENT mail (remitente,destinatarios,fecha,asunto?,mensaje?,ficheros)>
<!ATTLIST mail
          xmlns:xsi CDATA #IMPLIED
          xsi:noNamespaceSchemaLocation CDATA #IMPLIED>
<!ELEMENT remitente (#PCDATA)>
<!ELEMENT destinatarios (destinatario+)>
<!ELEMENT destinatario (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT mensaje (#PCDATA)>
<!ELEMENT ficheros (fichero?)>
<!ELEMENT fichero (nombre,tipo)>
<!ELEMENT tipo (#PCDATA)>

